<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewIndexDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5662E13E1D3E6B7A0032FA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5662E1571D3E6B7B0032FA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5662E1621D3E6B7B0032FA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
